Repository uoftblueprint/trcc: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Ignore IntelliJ project files
  .gitignore
Due: none

Fix automatic formatting and styling errors
  README.md
  tests/lib/api/getExample.test.ts
Due: eslint --fix, prettier --write

Add pre-commit hooks
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

create volunteer api
  src/app/api/volunteers/route.ts
  src/lib/api/addVolunteer.ts
  src/lib/api/index.ts
Due: eslint --fix, prettier --write

format
  README.md
  src/app/api/volunteers/route.ts
  src/lib/api/addVolunteer.ts
Due: eslint --fix, prettier --write

delete api
  .gitignore
  src/lib/api/deleteVolunteer.ts
  src/lib/api/index.ts
Due: eslint --fix, prettier --write

volunteer update api
  README.md
  src/app/api/volunteers/[id]/route.ts
  src/lib/api/index.ts
  src/lib/api/updateVolunteer.ts
  tests/lib/api/getExample.test.ts
Due: eslint --fix, prettier --write

implement filter-general function
  src/app/api/filter-general/route.ts
  src/lib/api/filter_general.ts
Due: eslint --fix, prettier --write

Implement filter multiple columns API function
  src/app/api/volunteers/filter/multiple/route.ts
  src/lib/api/filterMultipleColumns.ts
  src/lib/api/index.ts
Due: eslint --fix, prettier --write

Fix role and cohort filtering
  src/lib/api/filterMultipleColumns.ts
Due: eslint --fix, prettier --write

Added user authentication with email and password
  src/app/auth/confirm/route.ts
  src/app/login/page.tsx
  src/lib/client/supabase/auth.ts
  src/lib/client/supabase/client.ts
  src/lib/client/supabase/proxy.ts
  src/proxy.ts
Due: eslint --fix, prettier --write

Fix formatting and linting errors
  README.md
  tests/lib/api/getExample.test.ts
Due: eslint --fix, prettier --write

Created API function for filtering volunteers by cohorts
  src/lib/api/getVolunteersByCohorts.ts
  src/lib/api/index.ts
Due: eslint --fix, prettier --write

created filter by role endpoint handler
  package-lock.json
  src/app/volunteers/filter_by_role/route.ts
  src/lib/api/getRolesByFilter.ts
  src/lib/api/index.ts
Due: eslint --fix, prettier --write

Refactored code
  src/lib/api/getVolunteersByCohorts.ts
Due: eslint --fix, prettier --write

made file name and function more specific for filtering volunteers by role
  src/app/volunteers/filter_by_role/route.ts
  src/lib/api/getVolunteersByRoles.ts
  src/lib/api/index.ts
  tests/lib/api/getVolunteersByRoles.ts
Due: eslint --fix, prettier --write

Add more linting rules and typecheck to the CI
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.mts
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/api/getExample.ts
  src/lib/client/supabase/server.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Revert "made file name and function more specific for filtering volunteers by role"
  src/app/volunteers/filter_by_role/route.ts
  src/lib/api/getRolesByFilter.ts
  src/lib/api/index.ts
  tests/lib/api/getVolunteersByRoles.ts
Due: eslint --fix, prettier --write

renamed filter file to something more specific
  src/app/volunteers/filter_by_role/route.ts
  src/lib/api/getVolunteersByRoles.ts
  src/lib/client/supabase/index.ts
Due: eslint --fix, prettier --write

added type: module so that unit tests can run w/o error
  package.json
Due: prettier --write

creating test file
  tests/lib/api/getVolunteersByRoles.ts
Due: eslint --fix, prettier --write

moved filter exports to correct index file
  src/lib/api/index.ts
  src/lib/client/supabase/index.ts
  tests/lib/api/getVolunteersByRoles.ts
Due: eslint --fix, prettier --write

linted and formatted
  src/app/volunteers/filter_by_role/route.ts
  src/lib/api/getRolesByFilter.ts
  src/lib/api/getVolunteersByRoles.ts
  src/lib/client/supabase/index.ts
  tests/lib/api/getVolunteersByRoles.test.ts
  tests/lib/api/getVolunteersByRoles.ts
Due: eslint --fix, prettier --write

deleted duplicate file
  src/lib/api/getRolesByFilter.ts
Due: eslint --fix, prettier --write

Standardized endOfLine formatting
  .prettierrc.json
Due: prettier --write

setting up local supabase with docker
  TICKETS.md
  package.json
  scripts/supabase-setup.sh
Due: prettier --write

added seed.sql to input dummy data and updated .gitignore
  .gitignore
  supabase/seed.sql
Due: none

finished setting up local supabase
  supabase/.gitignore
  supabase/config.toml
  supabase/seed.sql
Due: none

add local supabase for testing
  package-lock.json
  package.json
  src/lib/api/getExample.ts
  src/lib/client/supabase/server.ts
  supabase/seed.sql
  tests/lib/api/getExample.test.ts
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

implement createRole api function
  src/lib/api/createRole.ts
Due: eslint --fix, prettier --write

format createRole.ts
  src/lib/api/createRole.ts
Due: eslint --fix, prettier --write

add createRole to index
  src/lib/api/index.ts
Due: eslint --fix, prettier --write

implement test cases for createRole
  tests/lib/api/createRole.test.ts
Due: eslint --fix, prettier --write

Implement local testing with supabase
  .github/workflows/ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/lib/client/supabase/server.ts
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20251210030724_remote_schema.sql
  tests/helpers/fixtures.ts
  tests/helpers/index.ts
  tests/helpers/supabase.ts
  tests/lib/api/getExample.integration.test.ts
  tests/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Update Next.js/React Flight RCE vulnerability
  package-lock.json
  package.json
Due: prettier --write

set up basic testings for cohorts table with CRUD operations
  README.md
  package-lock.json
  package.json
  tests/db/README.md
  tests/db/cohorts.crud.test.ts
  tests/db/factories.ts
  tests/db/helpers.ts
  tests/setup.ts
Due: eslint --fix, prettier --write

changes
  src/app/api/volunteers/[id]/route.ts
  src/lib/api/index.ts
  src/lib/api/updateVolunteer.ts
  tests/lib/api/updateVolunteer.test.ts
Due: eslint --fix, prettier --write

lint errors fixed
  src/lib/api/updateVolunteer.ts
  tests/lib/api/updateVolunteer.test.ts
Due: eslint --fix, prettier --write
